*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul li{
    list-style: none;
    font-size:20px;
    margin-left: 15px;
    
}
li a{
    text-decoration: none;
    color: black;

    

}
ul{
    display: flex;

    
}
.nav-title{
    font-size: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-right: 115px;
    padding-left:115px ;
    padding-top:60px ;
}
section{
    padding:115px 115px 70px 115px;

}
.journey{
    display: flex;

}
.journey-info{
    width: 80%;
    margin-top: 30px;
}
.journey-title{
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    
}

#details{
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}
button{
    padding: 10px;
    background-color:#E02C6D;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}
/*----------
    logos
----------*/
.all-logos{
    display: flex;
    
    height: 110px;
width: 1110px;
justify-content: center;
align-items: center;
gap: 45px;
margin: 0 auto;
border-top: 2px solid grey;
border-bottom: 2px solid grey;
margin-bottom:20px ;

}
/*------------
second section
--------------*/
#products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.card-style{
    height: 476px;
width: 329px;
background-color: whitesmoke;
box-shadow: -5px -5px 5px  rgba(196, 193, 193, 0.753);

}
.card img{
margin: 15px;
border-radius: 5px;

}
.card-title{
    font-size:28px ;
    padding: 0px 0  10px 15px;
}
.price{
    font-size:24px ;
    padding: 0px 0px 10px 15px;
}
.star{
    color: gold;
}
.half{
    margin-right: 15px;
    
}
.rating{
    font-size:14px ;
    padding: 0px 0px 10px 15px;
}
.delivery-info{
    font-size: 14px;
    padding: 0px 0px 10px 15px;
    line-height: 20px;
    color: #787885;

}
.arrow{
    color: #E02C6D;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding-bottom: 15px;
    
}
/*------------------------
feature details section
--------------------------*/
.feature-products{
    display: flex;
    justify-content: space-between;
}
.thumbnail img{

}
.title{
    font-size: 38px;
    margin-bottom: 10px;
}
.feature-details{
    font-size: 16px;
    line-height: 28px;
    color: #6c6c6c;
    width: 80%;
}
.feature-des{
    margin-top: 30px;
}
footer{
    background-color:#0a0826 ;
    height: 239px;
width: 1440px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color:white ;
gap: 15px;


}